---
import PostPreview from "@/components/blocks/PostPreview.astro";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/post";
import site from "@/config/site";

const posts = await getPosts();
---

<Layout
  title={site.labels.postsTitle}
  description={`${site.labels.postsDescription} — ${posts.length} posts.`}
>
  <div
    class="animate-in fade-in slide-in-from-bottom-4 mx-auto max-w-2xl p-8 duration-700 md:p-16"
  >
    <header class="mb-12">
      <h2 class="mb-4 text-3xl font-bold tracking-tight">
        {site.labels.postsTitle}
      </h2>
      <p class="text-sm font-light text-muted-foreground italic">
        {site.labels.postsDescription} — {posts.length} posts.
      </p>
    </header>

    <div class="space-y-8">
      {posts.map((post) => <PostPreview post={post} />)}
    </div>
  </div>
</Layout>
