---
import Hero from "@/components/blocks/Hero.astro";
import site from "@/config/site";
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("pages", "about");
const { Content } = await render(about!);
---

<Layout title={site.meta.title} description={site.meta.description}>
  <div
    class="animate-in fade-in slide-in-from-bottom-4 mx-auto max-w-2xl p-8 md:p-16"
  >
    <Hero />

    <div class="tracking-wider">
      <div class="prose dark:prose-invert">
        <Content />
      </div>
      <h4 class="text-[10px] font-bold tracking-[0.3em] text-primary uppercase">
        Contact
      </h4>
      <div class="flex flex-wrap gap-4">
        {
          site.social.map((item) => (
            <a
              href={item.href}
              class="border-b border-border pb-0.5 text-sm text-muted-foreground hover:border-primary hover:text-primary"
              title={item.name}
            >
              {item.name}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
